language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9-dev"
  - "nightly"
install:
  - pip install coverage
script:
  - coverage run -m unittest discover tests

after_success:
  - bash <(curl -s https://codecov.io/bash)