alabaster>=0.7.12
Babel>=2.8.0
certifi>=2020.6.20
cffi>=1.14.3
chardet>=3.0.4
colorama>=0.4.3
cryptography>=3.1.1
docutils>=0.16
fire>=0.3.1
idna>=2.10
jeepney>=0.4.3
Jinja2>=2.11.2
lxml>=4.5.2
packaging>=20.4
parse>=1.18.0
pkginfo>=1.5.0.1
pycparser>=2.20
Pygments>=2.7.1
pyparsing>=2.4.7
pyquery>=1.4.1
pytz>=2020.1
pywebcopy>=6.3.0
requests>=2.24.0
requests-toolbelt>=0.9.1
rfc3986>=1.4.0
SecretStorage>=3.1.2
termcolor>=1.1.0
tqdm>=4.50.0
twine>=3.2.0
urllib3>=1.25.10
w3lib>=1.22.0
setuptools~=60.2.0
rich~=12.6.0