alabaster==0.7.12
Babel==2.8.0
beautifulsoup4==4.9.2
bleach==3.2.1
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
cryptography==3.1.1
cssselect==1.1.0
docutils==0.16
fire==0.3.1
idna==2.10
imagesize==1.2.0
jeepney==0.4.3
Jinja2==2.11.2
keyring==21.4.0
lxml==4.5.2
MarkupSafe==1.1.1
packaging==20.4
parse==1.18.0
pkginfo==1.5.0.1
pycparser==2.20
Pygments==2.7.1
pyparsing==2.4.7
pyquery==1.4.1
pytz==2020.1
pywebcopy==6.3.0
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.1.2
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
termcolor==1.1.0
tqdm==4.50.0
twine==3.2.0
urllib3==1.25.10
w3lib==1.22.0
webencodings==0.5.1
