[Template]
name = Github
link = https://123123.com/231.txt
sha256 = sawdsadsadasd
md5 = asdasdasdasd

[Template]
name = Facebook
link = http://qwertyasdgd.net/231.txt
sha256 = waaqweqweqweq
md5 = qweqweqweerq